<?xml version="1.0" encoding="utf-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?define Platform               = "XXX"?>
    <?define PythonVersion          = "XXX"?>
    <?define ProductVersion         = "XXX"?>
    <?define SrcImages              = "XXX"?>
    <?define Manufacturer           = "http://www.pygtk.org/"?>
    <?define ManufacturerContact    = "http://www.pygtk.org/feedback.html"?>
    <?define OriginalProductVersion = "2.0.0"?>

    <?if $(var.Platform) = "x86"?>
        <?define ProductName = "Python $(var.PythonVersion) PyGtk $(var.ProductVersion)"?>
        <?define Win64 = "no"?>
        <?if $(var.PythonVersion) = "2.6"?>
            <?define UpgradeCode = "{67D26C03-D5BD-4549-9FEA-76F9B8171584}"?>
        <?elseif $(var.PythonVersion) = "2.7"?>
            <?define UpgradeCode = "{7E8DD188-EB7F-46FC-8E39-64A92D227927}"?>
        <?else?>
            <?error Unknown Python version specified: $(var.PythonVersion)?>
        <?endif?>
    <?elseif $(var.Platform) = "x64"?>
        <?define ProductName = "Python $(var.PythonVersion) PyGtk $(var.ProductVersion) (64 bit)"?>
        <?define Win64 = "yes"?>
        <?if $(var.PythonVersion) = "2.6"?>
            <?define UpgradeCode = "{65A7410A-6B75-4A97-9C3A-3450BB65615E}"?>
        <?elseif $(var.PythonVersion) = "2.7"?>
            <?define UpgradeCode = "{2CC0DCE7-E4BD-48E2-823E-CBFF1D92E560}"?>
        <?else?>
            <?error Unknown Python version specified: $(var.PythonVersion)?>
        <?endif?>
    <?else?>
        <?error Unknown Platform specified: $(var.Platform)?>
    <?endif?>

    <Product Id="*"
             Language="1033"
             Manufacturer="$(var.Manufacturer)"
             Name="$(var.ProductName)"
             UpgradeCode="$(var.UpgradeCode)"
             Version="$(var.ProductVersion)">

        <Package Id="*"
                 AdminImage="no"
                 Comments="$(var.ProductName) Windows Installer Database"
                 Compressed="yes"
                 Description="$(var.ProductName)"
                 InstallerVersion="200"
                 Keywords="Installer,MSI,Database"
                 Languages="1033"
                 Manufacturer="$(var.Manufacturer)"
                 Platform="$(var.Platform)"
                 ReadOnly="yes" />

        <Condition Message="$(var.ProductName) is only supported on Windows 2000 and above.">
            <![CDATA[NOT VersionNT < 500]]>
        </Condition>

        <Upgrade Id="$(var.UpgradeCode)">
            <UpgradeVersion Minimum='$(var.OriginalProductVersion)'
                            IncludeMinimum="yes"
                            Maximum='$(var.ProductVersion)'
                            IncludeMaximum="no"
                            Language="1033"
                            Property='UPGRADEFOUND' />
        </Upgrade>

        <Media Id="1"
               Cabinet="distfiles"
               CompressionLevel="high"
               EmbedCab="yes" />

        <?include WixUI_PyGTK.wxs?>
        <UIRef Id="WixUI_PyGTK" />
        <WixVariable Id="WixUIBannerBmp" Value="$(var.SrcImages)/PyGtkBanner.jpg" />
        <WixVariable Id="WixUIDialogBmp" Value="$(var.SrcImages)/PyGtkDialog.jpg" />
        <WixVariable Id="WixUIExclamationIco" Value="$(var.SrcImages)/PyGtkExclamationIco.ico" />
        <WixVariable Id="WixUIInfoIco" Value="$(var.SrcImages)/PyGtkInfoIco.ico" />
        <WixVariable Id="WixUINewIco" Value="$(var.SrcImages)/PyGtkNewIco.ico" />
        <WixVariable Id="WixUIUpIco" Value="$(var.SrcImages)/PyGtkUpIco.ico" />

        <Icon Id="PyGtkIcon" SourceFile="$(var.SrcImages)/PyGtkIcon.ico" />
        <Property Id="ARPPRODUCTICON" Value="PyGtkIcon" />

        <Property Id="_BrowseProperty" Value="TARGETDIR" />
        <Property Id="PYTHON.MACHINE">
            <RegistrySearch Id="PYTHON.MACHINE" Root="HKLM" Key="SOFTWARE\Python\PythonCore\$(var.PythonVersion)\InstallPath" Type="raw" />
        </Property>
        <Property Id="PYTHON.USER">
            <RegistrySearch Id="PYTHON.USER" Root="HKCU" Key="SOFTWARE\Python\PythonCore\$(var.PythonVersion)\InstallPath" Type="raw" />
        </Property>

        <CustomAction Id="PythonX" Property="PYTHONDIR" Value="[WindowsVolume]PythonX" Execute="firstSequence" />
        <CustomAction Id="PythonFromMachine" Property="PYTHONDIR" Value="[PYTHON.MACHINE]" Execute="firstSequence" />
        <CustomAction Id="PythonFromUser" Property="PYTHONDIR" Value="[PYTHON.USER]" Execute="firstSequence" />
        <CustomAction Id="PythonDetected" Property="PythonDetected" Value="PYTHON.MACHINE Or PYTHON.USER" Execute="firstSequence" />
        <CustomAction Id="InitialTargetDir" Property="TARGETDIR" Value="[PYTHONDIR]" Execute="firstSequence" />

        <InstallExecuteSequence>
            <Custom Action="PythonX" Sequence="401" />
            <Custom Action="PythonFromMachine" Sequence="402">PYTHON.MACHINE</Custom>
            <Custom Action="PythonFromUser" Sequence="403">PYTHON.USER</Custom>
            <Custom Action="PythonDetected" Sequence="404">PythonDetected</Custom>
            <Custom Action="InitialTargetDir" Sequence="405" />
            <RemoveExistingProducts Sequence="1401" />
        </InstallExecuteSequence>

        <InstallUISequence>
            <Custom Action="PythonX" Sequence="401" />
            <Custom Action="PythonFromMachine" Sequence="402">PYTHON.MACHINE</Custom>
            <Custom Action="PythonFromUser" Sequence="403">PYTHON.USER</Custom>
            <Custom Action="PythonDetected" Sequence="404">PythonDetected</Custom>
            <Custom Action="InitialTargetDir" Sequence="405" />
        </InstallUISequence>

        <Feature Id="PyGTKAllInOne"
                 Title="PyGTK All-in-one"
                 Description="Installs everything you need for PyGTK development except Python"
                 ConfigurableDirectory="TARGETDIR"
                 Absent = "disallow"
                 Display="expand"
                 Level="1"
                 AllowAdvertise="no"
                 InstallDefault="local">
            <ComponentRef Id="Empty" />
        </Feature>

        <Directory Id="TARGETDIR" Name="SourceDir">
            <!-- Referenced by container Features -->
            <Component Id="Empty" KeyPath='yes' Guid="{2957BDC1-E807-49fb-A46D-F70834B326C4}">
                <CreateFolder />
            </Component>
        </Directory>
    </Product>
</Wix>
